<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="com.topjohnwu.magisk.debug" />
        <package android:name="com.topjohnwu.magisk.canary" />
        <package android:name="com.topjohnwu.magisk.alpha" />
        <package android:name="io.github.huskydg.magisk" />
        <package android:name="me.weishu.kernelsu" />
        <package android:name="com.rifsxd.ksunext" />
        <package android:name="com.sukisu.ultra" />
        <package android:name="com.resukisu.resukisu" />
        <package android:name="me.bmax.apatch" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="com.koushikdutta.superuser" />
        <package android:name="com.noshufou.android.su" />
        <package android:name="com.noshufou.android.su.elite" />
        <package android:name="com.kingroot.kinguser" />
        <package android:name="com.kingouser.com" />
        <package android:name="me.phh.superuser" />
    </queries>

    <application
        android:name=".BasicRootCheckerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher_v2"
        android:localeConfig="@xml/app_locales_config"
        android:label="@string/app_name"
        android:theme="@style/Theme.iboalali.Main"
        tools:targetApi="33">

        <!-- Lets Macrobenchmark/simpleperf profile the release build on non-rooted API 29+
             devices. Ignored below API 29; has no effect on normal user builds. -->
        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.iboalali.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name="com.telemetrydeck.sdk.TelemetryDeckInitProvider"
            android:authorities="${applicationId}.telemetrydeckinitprovider"
            tools:node="remove" />

        <!-- Describes the app's AppFunctions to the system / on-device agents. The
             AppFunctionService itself is merged in by the appfunctions-service library. -->
        <property
            android:name="android.app.appfunctions.app_metadata"
            android:resource="@xml/app_metadata" />
    </application>

</manifest>
